/* Header */
@media (max-width:1000px){
    header{
        padding: 2rem;
    }
}
@media (max-width:900px){
    #burger-bar{
        display: block;
    }
    .burger.burger-border{
        border: none;
    }
    .navigation{
        display: none;
    }
    .navigation.activeNav{
        display: block;
        position: absolute;
        top: 100%; left: 0; right: 0;
        background-color: white;
        border-top: 3px solid rgba(165, 18, 18, 0.1);
        background: url(../Images/plate-waffles.jpg) no-repeat;
        background-size: cover;
        background-position: center; 
    }
    .navigation a{
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: 1px solid rgba(165, 18, 18, 0.1);
        border-left:2px solid var(--red);       
    }
    .ul-element{
        display: block;
    }
}
/* home section */
@media (max-width:800px){
    #alert-element{
        width: 40%;
    }
}
/* Speciality Section */
@media (max-width:800px){
    .box-container{
       grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:800px){
    .box-container{
        grid-template-columns: 1fr ;
     }
     .speciality h2{
        font-size: 2rem;
     }
}
/* Popular Section */
@media (max-width:800px){
    .popular-container{
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    .popular img{
        width: 80%;
    }
}
/* Steps Section */
@media (max-width:800px){
    .steps-section{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:400px){
    .steps-section{
        grid-template-columns: 1fr;
    }
}
/* Review Section */
@media (max-width:800px){
    .review-container{
        grid-template-columns: 1fr ;
    }
}



/* Order Section */
@media (max-width:400px){
    .inputbox {
        flex-direction: column;
        
    }
    .inputbox input{
        width: 100%;
        height: 2.5rem;
    }
    .row textarea{
        height: 5rem;
    }
}
